# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
# Logs
logs
*.log
npm-debug.log*




*.pyc


.idea

**.pyc

static

#templates/
/db.sqlite3
/test

