



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/static/project-static-files/favicon.ico">
    <title>Min-AutoPublish</title>
    <link href="/static/project-static-files/static/css/main.6241f643.css" rel="stylesheet">
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="/static/project-static-files/static/js/main.e372c48e.js"></script>
</body>
</html>